body {
	margin-top: 50px;
	margin-bottom: 50px;
	background: none;
}

.full {
  background: url(https://i.ytimg.com/vi/_4Q_Vl4Av9c/maxresdefault.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.panel-transparent {
	background: none;
}

.panel-transparent .panel-body{
    background: rgba(46, 51, 56, 0.2)!important;
}
