<div class="jumbotron">
  <div class="row">
    <div class="col-sm-8">
      <h1>Welcome {[{username}]}!</h1>
      <p class="lead">Please click on any category in the menu on left to view items associated with it. You can add new items and update or delete existing items which were added by you.</p>
    </div>
    <div class="col-sm-3">
        <img src="{[{profile_picture}]}" style = "width: 300px; height: 300px;border-radius: 150px;-webkit-border-radius: 150px;-moz-border-radius: 150px;">
    </div>
  </div>
</div>
